h2{
    color:rgb(255, 73, 7)
}
/* use css selectors to style elements */
p{
    color: blueviolet;
}
/* use css class to style the elements */
.css-class{
    color: brown;
}
/* style multiple elements with css class */
.text{
    color:cornflowerblue;
    font-size: 10Px;
}
/* change the font size of the element */
h2{
    font-size: 20px;
}
/* set the font family of the element */
h1{
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* import a google font */
#font-1{
    font-family: lobster;
}
/* specify how font should degrade */
#font-2{
    font-family: lobster, monospace;
}
/* size your image */
.size-image{
    width: 700px;
}
/* add border to our images */
.size-image2{
    border: 10px solid greenyellow;
}
/* add rounded corners to your border radius */
.size-image3{
    border: 10px solid greenyellow;
    border-radius: 50%;
}
/* make circular image with border radius */
.size-image4{
    border: 10px solid greenyellow;
    border-radius: 50%;
}
/* give colour to your div element */
.silver{
    background-color: silver;
}
/* set an id of an element  */
#c-1{
    font-size: 15%;
}
/* use an id attribute to style an element */
#c-2{
    color: black;
}
/* adjust the padding of an element*/
.injected-text {
    margin-bottom: -25px;
    text-align: center;
    margin-right: 0%;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    margin-right:15% ;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
    margin-right: 80%;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
  }

/* adjust the margin of an element */
.injected-text {
    margin-bottom: -25px;
    text-align: center;
    margin-right: 0%;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    margin-right:15% ;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
    margin-right: 80%;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
    margin :20px;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
    margin :20px;
  }

/* add negative margin to your element */
.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
  }

  .red-box1{
    background-color: crimson;
    color: #fff;
    padding: 20px;
    margin: -15px;
  }

  .blue-box1 {
    background-color: blue;
    color: #fff;
    padding: 20px;
    margin: -15px;
  }
  /* add diferent padding on each side of the element */
  .injected-text {
  margin-bottom: -25px;
  text-align: center;
  margin-right: 0%;
}

.box {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  text-align: center;
  margin-right:15% ;
}

.yellow-box {
  background-color: yellow;
  padding: 10px;
  margin-right: 80%;
}

.red-box2 {
  background-color: crimson;
  color: #fff;
  padding: 20px;
}

.blue-box2 {
  background-color: blue;
  color: #fff;
  padding: 20px;
}
/* add different margins of each side of an element */
.injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box3 {
    background-color: yellow;
    padding: 10px;
  }

  .red-box3 {
    background-color: crimson;
    color: #fff;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
  }

  .blue-box3 {
    background-color: blue;
    color: #fff;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
}
/* use clockwise notation to give padding to and element */
.injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box4 {
    background-color: yellow;
    padding: 20px 40px 20px 40px;
  }

  .red-box4 {
    background-color: crimson;
    color: #fff;
    padding: 20px 40px 20px 40px;
  }

  .blue-box4 {
    background-color: blue;
    color: #fff;
    padding: 20px 40px 20px 40px;
  }
  /*  use clockwise notation to give margin*/
  .injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box5 {
    background-color: yellow;
    padding: 20px 40px 20px 40px;
  }

  .red-box5 {
    background-color: crimson;
    color: #fff;
    margin: 20px 40px 20px 40px;
  }

  .blue-box5 {
    background-color: blue;
    color: #fff;
    margin: 20px 40px 20px 40px;
  }
  /* use attribute selectors to style elements */
  [type='radio'] {
    margin: 20px 0px 20px 10px; 
  }
  /* udestand absolute versus relative units   */
  .injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box6 {
    background-color: yellow;
    padding: 20px 40px 20px 40px;
  }

  .red-box6 {
    background-color: red;
    margin: 20px 40px 20px 40px;
    padding: 1.5em;
  }

  .green-box6 {
    background-color: green;
    margin: 20px 40px 20px 40px;
  }
  /* style the body element */
  body{
      background-color: indianred;
  }
  /*  ingerit style from the b ody element*/
 .h-1 {
      background-color: white;
    color: green;
    font-family: monospace;
  }
  /* prioritize your style over another */
  .pink-text{
      color: pink;
  }
  /* ovveride styles in subsequent css */

 body {
    background-color: white;
    font-family: monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }
  .blue-text{
    color: blue;
  }
  /* ovveride class declarartion by styling id attributes*/
  #orange-text{
      color: orange;
  }
  /* ovveride class declarartion with inline styles */
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  #orange-text {
    color: orange;
  }
  .pink-text {
    color: pink;
  }
  .blue-text {
    color: blue;
  } 
   /* override all other styles by using important*/
   .important-text{
       color: pink !important;
   }
/* use hex code for specific colors */
body {
    background-color:#000000 ;
  }
  /*  use hex code to mix colors*/
  .red-text {
    color: #FF0000 ;
  }
  .green-text {
    color: #00FF00;
  }
  .dodger-blue-text {
    color: #1E90FF;
  }
  .orange-text {
    color: #FFA500;
  }
  /* use abbreviated code */
  .red-text {
    color: #F00;
  }
  .fuchsia-text {
    color: #F0F;
  }
  .cyan-text {
    color: #0FF;
  }
  .green-text {
    color: #0F0;
  }
  /*use rgb values to color elements  */
  body {
    background-color: rgb(0, 0, 0);
  }
  /* use rgb to mix colors */
  .red-text {
    color: rgb(255, 0, 0);
  }
  .orchid-text {
    color: rgb(218, 112, 214);
  }
  .sienna-text {
    color: rgb(160, 82, 45);
  }
  .blue-text {
    color: rgb(0, 0, 255);
  }
  /* use css variables to change several elements at once */
  .penguin {

    /* Only change code below this line */
    --penguin-skin: gray;
    --penguin-belly: white;
    --penguin-beak: orange;
    /* Only change code above this line */

    position: relative;
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 300px;
    height: 300px;
  }

  .penguin-top {
    top: 10%;
    left: 25%;
    background: var(--penguin-skin, gray);
    width: 50%;
    height: 45%;
    border-radius: 70% 70% 60% 60%;
  }

  .penguin-bottom {
    top: 40%;
    left: 23.5%;
    background: var(--penguin-skin, gray);
    width: 53%;
    height: 45%;
    border-radius: 70% 70% 100% 100%;
  }

  .right-hand {
    top: 0%;
    left: -5%;
    background: var(--penguin-skin, gray);
    width: 30%;
    height: 60%;
    border-radius: 30% 30% 120% 30%;
    transform: rotate(45deg);
    z-index: -1;
  }

  .left-hand {
    top: 0%;
    left: 75%;
    background: var(--penguin-skin, gray);
    width: 30%;
    height: 60%;
    border-radius: 30% 30% 30% 120%;
    transform: rotate(-45deg);
    z-index: -1;
  }

  .right-cheek {
    top: 15%;
    left: 35%;
    background: var(--penguin-belly, white);
    width: 60%;
    height: 70%;
    border-radius: 70% 70% 60% 60%;
  }

  .left-cheek {
    top: 15%;
    left: 5%;
    background: var(--penguin-belly, white);
    width: 60%;
    height: 70%;
    border-radius: 70% 70% 60% 60%;
  }

  .belly {
    top: 60%;
    left: 2.5%;
    background: var(--penguin-belly, white);
    width: 95%;
    height: 100%;
    border-radius: 120% 120% 100% 100%;
  }

  .right-feet {
    top: 85%;
    left: 60%;
    background: var(--penguin-beak, orange);
    width: 15%;
    height: 30%;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(-80deg);
    z-index: -2222;
  }

  .left-feet {
    top: 85%;
    left: 25%;
    background: var(--penguin-beak, orange);
    width: 15%;
    height: 30%;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(80deg);
    z-index: -2222;
  }

  .right-eye {
    top: 45%;
    left: 60%;
    background: black;
    width: 15%;
    height: 17%;
    border-radius: 50%;
  }

  .left-eye {
    top: 45%;
    left: 25%;
    background: black;
    width: 15%;
    height: 17%;
    border-radius: 50%;
  }

  .sparkle {
    top: 25%;
    left: 15%;
    background: white;
    width: 35%;
    height: 35%;
    border-radius: 50%;
  }

  .blush-right {
    top: 65%;
    left: 15%;
    background: pink;
    width: 15%;
    height: 10%;
    border-radius: 50%;
  }

  .blush-left {
    top: 65%;
    left: 70%;
    background: pink;
    width: 15%;
    height: 10%;
    border-radius: 50%;
  }

  .beak-top {
    top: 60%;
    left: 40%;
    background: var(--penguin-beak, orange);
    width: 20%;
    height: 10%;
    border-radius: 50%;
  }

  .beak-bottom {
    top: 65%;
    left: 42%;
    background: var(--penguin-beak, orange);
    width: 16%;
    height: 10%;
    border-radius: 50%;
  }

  body {
    background:#c6faf1;
  }

  .penguin * {
    position: absolute;
  }
  
  .penguin {
    
    --penguin-skin: gray;
    position: relative;
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 300px;
    height: 300px;
  }

  .penguin-top {
    top: 10%;
    left: 25%;
    background: black;
    width: 50%;
    height: 45%;
    border-radius: 70% 70% 60% 60%;
  }

  .penguin-bottom {
    top: 40%;
    left: 23.5%;
    background: black;
    width: 53%;
    height: 45%;
    border-radius: 70% 70% 100% 100%;
  }

  .right-hand {
    top: 0%;
    left: -5%;
    background: black;
    width: 30%;
    height: 60%;
    border-radius: 30% 30% 120% 30%;
    transform: rotate(45deg);
    z-index: -1;
  }

  .left-hand {
    top: 0%;
    left: 75%;
    background: black;
    width: 30%;
    height: 60%;
    border-radius: 30% 30% 30% 120%;
    transform: rotate(-45deg);
    z-index: -1;
  }

  .right-cheek {
    top: 15%;
    left: 35%;
    background: white;
    width: 60%;
    height: 70%;
    border-radius: 70% 70% 60% 60%;
  }

  .left-cheek {
    top: 15%;
    left: 5%;
    background: white;
    width: 60%;
    height: 70%;
    border-radius: 70% 70% 60% 60%;
  }

  .belly {
    top: 60%;
    left: 2.5%;
    background: white;
    width: 95%;
    height: 100%;
    border-radius: 120% 120% 100% 100%;
  }

  .right-feet {
    top: 85%;
    left: 60%;
    background: orange;
    width: 15%;
    height: 30%;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(-80deg);
    z-index: -2222;
  }

  .left-feet {
    top: 85%;
    left: 25%;
    background: orange;
    width: 15%;
    height: 30%;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(80deg);
    z-index: -2222;
  }

  .right-eye {
    top: 45%;
    left: 60%;
    background: black;
    width: 15%;
    height: 17%;
    border-radius: 50%;
  }

  .left-eye {
    top: 45%;
    left: 25%;
    background: black;
    width: 15%;
    height: 17%;
    border-radius: 50%;
  }

  .sparkle {
    top: 25%;
    left: 15%;
    background: white;
    width: 35%;
    height: 35%;
    border-radius: 50%;
  }

  .blush-right {
    top: 65%;
    left: 15%;
    background: pink;
    width: 15%;
    height: 10%;
    border-radius: 50%;
  }

  .blush-left {
    top: 65%;
    left: 70%;
    background: pink;
    width: 15%;
    height: 10%;
    border-radius: 50%;
  }

  .beak-top {
    top: 60%;
    left: 40%;
    background: orange;
    width: 20%;
    height: 10%;
    border-radius: 50%;
  }

  .beak-bottom {
    top: 65%;
    left: 42%;
    background: orange;
    width: 16%;
    height: 10%;
    border-radius: 50%;
  }

  body {
    background:#c6faf1;
  }

  .penguin * {
    position: absolute;
  }

