h2{
    color:rgb(255, 73, 7)
}
/* use css selectors to style elements */
p{
    color: blueviolet;
}
/* use css class to style the elements */
.css-class{
    color: brown;
}
/* style multiple elements with css class */
.text{
    color:cornflowerblue;
    font-size: 10Px;
}
/* change the font size of the element */
h2{
    font-size: 20px;
}
/* set the font family of the element */
h1{
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* import a google font */
#font-1{
    font-family: lobster;
}
/* specify how font should degrade */
#font-2{
    font-family: lobster, monospace;
}
/* size your image */
.size-image{
    width: 700px;
}
/* add border to our images */
.size-image2{
    border: 10px solid greenyellow;
}
/* add rounded corners to your border radius */
.size-image3{
    border: 10px solid greenyellow;
    border-radius: 50%;
}
/* make circular image with border radius */
.size-image4{
    border: 10px solid greenyellow;
    border-radius: 50%;
}
/* give colour to your div element */
.silver{
    background-color: silver;
}
/* set an id of an element  */
#c-1{
    font-size: 15%;
}
/* use an id attribute to style an element */
#c-2{
    color: black;
}
/* adjust the padding of an element*/
.injected-text {
    margin-bottom: -25px;
    text-align: center;
    margin-right: 0%;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    margin-right:15% ;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
    margin-right: 80%;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
  }
}
/* adjust the margin of an element */
.injected-text {
    margin-bottom: -25px;
    text-align: center;
    margin-right: 0%;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    margin-right:15% ;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
    margin-right: 80%;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
    margin :20px;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
    margin :20px;
  }
}
/*  */