h2{
    color:rgb(255, 73, 7)
}
/* use css selectors to style elements */
p{
    color: blueviolet;
}
/* use css class to style the elements */
.css-class{
    color: brown;
}
/* style multiple elements with css class */
.text{
    color:cornflowerblue;
    font-size: 10Px;
}
/* change the font size of the element */
h2{
    font-size: 20px;
}
/* set the font family of the element */
h1{
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* import a google font */
#font-1{
    font-family: lobster;
}
/* specify how font should degrade */
#font-2{
    font-family: lobster, monospace;
}
/* size your image */
.size-image{
    width: 700px;
}
/* add border to our images */
.size-image2{
    border: 10px solid greenyellow;
}
/* add rounded corners to your border radius */
.size-image3{
    border: 10px solid greenyellow;
    border-radius: 50%;
}
/* make circular image with border radius */
.size-image4{
    border: 10px solid greenyellow;
    border-radius: 50%;
}
/* give colour to your div element */
.silver{
    background-color: silver;
}
/* set an id of an element  */
#c-1{
    font-size: 15%;
}
/* use an id attribute to style an element */
#c-2{
    color: black;
}
/* adjust the padding of an element*/
.injected-text {
    margin-bottom: -25px;
    text-align: center;
    margin-right: 0%;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    margin-right:15% ;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
    margin-right: 80%;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
  }

/* adjust the margin of an element */
.injected-text {
    margin-bottom: -25px;
    text-align: center;
    margin-right: 0%;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    margin-right:15% ;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
    margin-right: 80%;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
    margin :20px;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
    margin :20px;
  }

/* add negative margin to your element */
.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
  }

  .red-box1{
    background-color: crimson;
    color: #fff;
    padding: 20px;
    margin: -15px;
  }

  .blue-box1 {
    background-color: blue;
    color: #fff;
    padding: 20px;
    margin: -15px;
  }
  /* add diferent padding on each side of the element */
  .injected-text {
  margin-bottom: -25px;
  text-align: center;
  margin-right: 0%;
}

.box {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  text-align: center;
  margin-right:15% ;
}

.yellow-box {
  background-color: yellow;
  padding: 10px;
  margin-right: 80%;
}

.red-box2 {
  background-color: crimson;
  color: #fff;
  padding: 20px;
}

.blue-box2 {
  background-color: blue;
  color: #fff;
  padding: 20px;
}
/* add different margins of each side of an element */
.injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box3 {
    background-color: yellow;
    padding: 10px;
  }

  .red-box3 {
    background-color: crimson;
    color: #fff;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
  }

  .blue-box3 {
    background-color: blue;
    color: #fff;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
}
/* use clockwise notation to give padding to and element */
.injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box4 {
    background-color: yellow;
    padding: 20px 40px 20px 40px;
  }

  .red-box4 {
    background-color: crimson;
    color: #fff;
    padding: 20px 40px 20px 40px;
  }

  .blue-box4 {
    background-color: blue;
    color: #fff;
    padding: 20px 40px 20px 40px;
  }
  /*  use clockwise notation to give margin*/
  .injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box5 {
    background-color: yellow;
    padding: 20px 40px 20px 40px;
  }

  .red-box5 {
    background-color: crimson;
    color: #fff;
    margin: 20px 40px 20px 40px;
  }

  .blue-box5 {
    background-color: blue;
    color: #fff;
    margin: 20px 40px 20px 40px;
  }
  /* use attribute selectors to style elements */
  [type='radio'] {
    margin: 20px 0px 20px 10px; 
  }
  /* udestand absolute versus relative units   */
  .injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box6 {
    background-color: yellow;
    padding: 20px 40px 20px 40px;
  }

  .red-box6 {
    background-color: red;
    margin: 20px 40px 20px 40px;
    padding: 1.5em;
  }

  .green-box6 {
    background-color: green;
    margin: 20px 40px 20px 40px;
  }
  /* style the body element */
  body{
      background-color: indianred;
  }
  /*  ingerit style from the b ody element*/
 .h-1 {
      background-color: white;
    color: green;
    font-family: monospace;
  }
  /* prioritize your style over another */
  .pink-text{
      color: pink;
  }
